<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/timeline.js" type="text/javascript"></script>
		<script type="text/javascript">
			$().ready(function(){
					var timeline_div = $('#timeline');
					for(var i = 0; i < timeline.count; i++) {
					var status = timeline.statuses[i];
					var status_div = '<span><p>'+status.Text + '</p>';
					if(status.Retweeted_status != null) {
						status_div += '<p>  RT//' + status.Retweeted_status.Text + '</p>';
					}
					status_div += '</span>';
					timeline_div.append(status_div);
					}
			});
		</script>
		<title>weibo</title>
	</head>
	<body>
		<div class="container">
			<div id="timeline">
			</div>
		</div>
	</body>
</html>
